* {
    box-sizing: border-box;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: #9BD7E7;
}
main {
    margin-top: 50px;
    padding-top: 50px;
    margin: auto;
    min-height: 100%;
}
/* nav and footer styles */
#nav_logo {
    border-radius: 3px;
}
.bg-primary {
    background-color: #E0F6FC !important;
}

.bg-secondary {
    background-color: #9BD7E7 !important;
}
main {
    padding: 1rem;
    width: 100%;
}
.footer_div {
    text-align: center;
    color: black;
    text-decoration: none;
}

.footer_link {
    color: rgb(27, 42, 68);
    text-decoration: none;
    border: solid;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 4px
}
/* index page styles */
.btn-primary {
    background-color: #1B2A44 !important;
    border: none;
    border-radius: 5px !important;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(27, 42, 68, 0.5);
}
.jumbotron {
    text-align: center;
}
/* records page styles */
#search-record-group {
    display: flex;
    align-items: center;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_add_group {
    display: flex;
    justify-content: space-between;
}
.card {
    border: none !important;
    padding: 0 !important;
}
.record {
    width: 90% !important;
}
#recordCardGroup {
    margin: auto;
}
input[type=text] {
    border-radius: 5px
}
#search-record-bar {
    max-width: 150px;
}
#filter {
    padding: 1.5px;
    margin: 2px;
}
.edit-record,
.delete-record {
    padding: 1px;
}
#search:hover, #sort:hover {
    box-shadow: 0 0 10px 5px #9BD7E7;
    border-radius: 5px;
}
.btn-secondary {
    border-radius: 5px;
}
#record-icons {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 30px;
}
.dropdown {
    width: 50%
}
.dropdown-filters {
    display: flex;
    flex-direction: row;
}
#record-page-header {
    display: flex;
    justify-content: space-between;
}
/* adding a record page styles */
#submit_btn {
    height: 4rem;
    width: 8rem;
    font-size: 1.5rem;
    border-radius: 10px;
}